In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [31]:
car=pd.read_csv('quicar.csv', encoding= 'unicode_escape')
car.drop('Unnamed: 6', axis=1, inplace=True)
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [32]:
car=car[car['year'].str.isnumeric()]

In [33]:
car['year']=car['year'].astype(int)

In [38]:
car=car[car['Price']!='Ask For Price']
car=car[car['Price']!=' for sale']

In [39]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [40]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')
car=car[car['kms_driven'].str.isnumeric()]
car['kms_driven']=car['kms_driven'].astype(int)

In [41]:
car=car[~car['fuel_type'].isna()]

In [42]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [44]:
car=car.reset_index(drop=True)
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [45]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [46]:
car=car[car['Price']<6000000]

In [47]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [50]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [51]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [52]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet B...
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
                                                           array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                           array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                 ['name', 'company', 'fuel_type'])])

In [53]:
lr=LinearRegression()

In [54]:
pipe=make_pipeline(column_trans,lr)

In [55]:
pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [58]:
car2=pd.read_csv('carprice.csv')
car2.drop('Unnamed: 0', axis=1, inplace=True)
car2.head()

,Make,Model,price,Doors,Riding Capacity,Overall Length (mm),Overall Width (mm),Overall Height (mm),Wheelbase (mm),Weight (kg),Maximum Power (kW),Displacement (cc),Bore (mm),Stroke (mm),Fuel Tank Equipment (L),year of launch,displacement-based class
0,TOYOTA,TOYOTA CAMRY,3298320,4,5,4885,1840,1445,2825,1540.0,131,2487,87.5,103.4,50,2018,mid-range
1,TOYOTA,TOYOTA CAMRY,3531600,4,5,4885,1840,1445,2825,1570.0,131,2487,87.5,103.4,50,2018,mid-range
2,TOYOTA,TOYOTA CAMRY,3672000,4,5,4910,1840,1445,2825,1570.0,131,2487,87.5,103.4,50,2018,mid-range
3,TOYOTA,TOYOTA CAMRY,4228200,4,5,4885,1840,1445,2825,1600.0,131,2487,87.5,103.4,50,2018,mid-range
4,TOYOTA,TOYOTA CAMRY,4341600,4,5,4910,1840,1445,2825,1600.0,131,2487,87.5,103.4,50,2018,mid-range

In [60]:
X=car2[['Model','Make','year of launch', 'Doors', 'Riding Capacity',
      'Overall Length (mm)',
       'Overall Width (mm)', 'Overall Height (mm)', 'Wheelbase (mm)',
       'Weight (kg)',
       'Maximum Power (kW)',
       'Displacement (cc)', 'Bore (mm)', 'Stroke (mm)', 'Fuel Tank Equipment (L)', 'displacement-based class']]
y=car2['price']

In [61]:
X_train, X_test, y_train, y_test = train_test_split( 
X, y, train_size=0.67, test_size=0.33, random_state=100)

In [62]:
ohe=OneHotEncoder()
ohe.fit(X[['Make','Model','displacement-based class']])

OneHotEncoder()

In [63]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Make','Model','displacement-based class']),
                                    remainder='passthrough')

In [65]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(max_depth=25, min_samples_split=2, random_state=42)

In [66]:
pipe=make_pipeline(column_trans,forest_reg)

In [67]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Daihatsu', 'Honda', 'Isuzu', 'Lexus', 'Mazda', 'Mitsubishi',
       'Mitsuoka', 'Nissan', 'Subaru', 'Suzuki', 'TOYOTA'], dtype=object),
                                                                            array(['Daihatsu BE GO', 'Daihatsu Boon', 'Daihatsu Boon Luminas',
       'Daihatsu COO', 'Daihatsu Charade...
       'Subaru Impreza WRX', 'Subaru Impreza XV', 'Suzuki KEI',
       'Suzuki KEI Sport', 'Suzuki KEI Works', 'Suzuki Kizashi',
       'TOYOTA CAMRY', 'TOYOTA CAMRY GRACIA', 'TOYOTA CAMRY GRACIA SEDAN',
       'TOYOTA CAMRY GRACIA STATIONWAGON'], dtype=object),
                                                                            array(['Subcompact', 'large', 'mid-range', 'mini'], dtype=object)]),
                                                  ['Make', 'Model',
                                                   'displacement-based '
                                                   'class'])])),
                ('randomforestregressor',
                 RandomForestRegressor(max_depth=25, random_state=42))])

In [68]:
y_pred=pipe.predict(X_test)

In [69]:
r2_score(y_test,y_pred)

0.9898655406395385

In [70]:
import pickle
pickle.dump(pipe,open('randomforest.pkl','wb'))